@using Agency.Feature.Services.Models

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<PortfolioItem>

<div class="col-md-4 col-sm-6 portfolio-item">
    <a id="portfolio_@Model.Id.ToString().Replace("{", "").Replace("}", "").Replace("-", "")"
       class="portfolio-link" data-toggle="modal" href="#portfolio">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
            </div>
        </div>
        @RenderImage(x => x.Image, isEditable: true, parameters: new { @class = "img-fluid" })
    </a>
    <div class="portfolio-caption">
        <h4>@Model.Title</h4>
        <p class="text-muted">Illustration</p>
    </div>
   
    <script type="text/javascript">
        $("#portfolio_@Model.Id.ToString().Replace("{", "").Replace("}", "").Replace("-", "")").on('click', function () {
            portfolioModal({
                title: "@Model.Title",
                image: '@RenderImage(model => model.Image, new { @class = "img-fluid d-block mx-auto" })',
            });
        })
    </script>   

</div>

